.main {
    padding: 1em;
}

.container {
    position: relative;
}

.modal {
    position: fixed;
    left: 50%;
    right: 50%;
    width: 50vw;
    height: 70vh;
    margin-left: -25vw;
    margin-right: -35vh;
    background-color: #525252;
    overflow: auto;
}

.modal input[type='button'] {
    height: 50px;
    border-radius: 6px;
}

.subgrid {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(5, minmax(5ch, 10ch));
    gap: 10px;
    margin-left: 15px;
    /* border: 1px solid red; */
    /* background-color: purple; */
    /* padding: 1em; */
    /* min-width: fit-content; */
}

.subgrid div {
    text-align: center;
    /* margin-inline: 10px; */
    user-select: none;
}

.headings {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(6, minmax(10ch, 15ch));
    align-items: center;
    /* border-bottom: dashed 1px rgb(193, 193, 193); */
    /* max-width: 100px; */
}

.activeDay {
    background-color: rgb(145, 255, 126);
    color: black;
}

.inactiveDay {
    text-decoration: line-through;
}

.casuals {
    display: flex;
    justify-content: start;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    border-bottom: dashed 1px rgb(193, 193, 193);
}

.notes {
    min-width: auto;
}

.active {
    cursor: pointer;
}

.sortHeader {
    cursor: pointer;
    /* text-align: center; */
    border: none;
}

.sortHeader:hover {
    background-color: #555;
}

.form {
    display: grid;
    justify-items: end;
    grid-template-rows: repeat(auto, 1fr);
    max-width: fit-content;
    background-color: #999;
    padding: 1em;
}
