.main {
    padding: 1em;
}

.container {
    position: relative;
}

.modal {
    position: fixed;
    left: 10vw;
    right: 10vw;
    width: 50vw;
    height: 80vh;
    background-color: hsl(0, 0%, 70%);
    overflow: auto;
    justify-content: center;
}

.modal div {
    display: flex;
    justify-content: center;
}

.modal section {
    display: flex;
    flex-direction: column;
    width: minmax(40%, 500px);
    margin-left: auto;
    margin-right: auto;
}

.modal section label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal button {
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.modal input[type='button'] {
    height: 50px;
    border-radius: 6px;
    width: 100px;
}

.modal input {
    font-size: 1em;
}

.modal textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.modal form label {
    display: flex;
    justify-content: center;
    /* max-width: fit-content; */
}

.deleteButton {
    background-color: hsl(0, 100%, 40%);
    font-style: oblique;
    color: #fff;
    border: none;
}

.submitButton {
    background-color: hsl(150, 75%, 30%);
    border: none;
    color: #fff;
    font-weight: bold;
}

.submitButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px hsl(150, 75%, 20%);
}

.subgrid {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(5, minmax(5ch, 10ch));
    gap: 10px;
    margin-left: 15px;
    /* border: 1px solid red; */
    /* background-color: purple; */
    /* padding: 1em; */
    /* min-width: fit-content; */
}

.subgrid div {
    text-align: center;
    /* margin-inline: 10px; */
    user-select: none;
}

.headings {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(6, minmax(10ch, 15ch));
    align-items: center;
    /* border-bottom: dashed 1px rgb(193, 193, 193); */
    /* max-width: 100px; */
}

.activeDay {
    background-color: rgb(145, 255, 126);
    color: black;
}

.inactiveDay {
    /* font-style: italic; */
    text-decoration: line-through;
}

.casuals {
    display: flex;
    justify-content: flex-start;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    border-bottom: dashed 1px rgb(193, 193, 193);
}

.notes {
    min-width: auto;
}

.edit {
    cursor: pointer;
    /* text-align: center; */
}

.edit:hover {
    background-color: hsl(0, 0%, 75%);
}

.sortHeader {
    cursor: pointer;
    /* text-align: center; */
    border: none;
}

.sortHeader:hover {
    background-color: hsl(0, 0%, 75%);
}

.form {
    display: grid;
    justify-items: end;
    grid-template-rows: repeat(auto, 1fr);
    max-width: fit-content;
    background-color: #999;
    padding: 1em;
}
