.grid {
    /* background-color: purple; */
    /* padding: 1em; */
    display: grid;
    grid-template-columns: repeat(5, 100px);
}

.grid div {
    text-align: center;
    margin-inline: 10px;
}

.casuals {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    align-items: center;
    border-bottom: dashed 1px #555;
}

.sortHeader {
    cursor: pointer;
    text-align: center;
    border: none;
}

.sortHeader:hover {
    background-color: #555;
}
